@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar: rgb(30, 41, 130);
  --sidebar-2: linear-gradient(-45deg ,#131a5d 0%, #080c38 20%, #04082c 50%, #090e3f 80%, #131a5d 100%);
  --button-bg-red: #ebdadafd;
  --box-shadow-one: rgba(29, 29, 29, 0.162);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:var(--font-noto-sans);
}
